<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ site.url }}/index.html">minixalpha</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/tags.html">Tags</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/projects.html">Projects</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/feed.xml">Feeds</a>
    </div>
    <div class="navigatebar-button navigatebar-about">
        <a href="{{ site.url }}/about.html">About</a>
    </div>
</div>
