.navigatebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;

    position: relative;
}

@media screen and (max-width: 600px) {
    .navigatebar {
        width: 80%;
    }
}

.navigatebar-button {
    margin-left: 10px;
    margin-right: 10px;
    color: #888;
    font-size: 28px;
    font-family: jinkaiFont;
    z-index: 100;
}

.navigatebar-button a {
    color: #888;
    text-decoration: none;
}

.navigatebar-button a:hover {
    color: #73BC83;
}

.navigatebar-slogan {
    flex: 1;
    text-align: center;
    color: #888;
    font-size: 18px;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 70px;
}

.navigatebar-mine {
    margin-left: 20px;
}

.navigatebar-about {
    margin-right: 20px;
}
